# ARITHMETIC OPERATORS

In [1]:
a=5
b=3
res=a+b
print("THE RESULT OF 5+3 IS",res)

THE RESULT OF 5+3 IS 8

In [2]:
a=10
b=4
res=a-b
print("BY EVALUATING THE EXPRESSION 10-4 THE RESULT IS",res)

BY EVALUATING THE EXPRESSION 10-4 THE RESULT IS 6

In [3]:
a=6
b=7
res=a*b
print("THE VALUE OF 6*7 IS",res)

THE VALUE OF 6*7 IS 42

In [8]:
a=15
b=3
res=a/b
print("THE RESULT OF 15/3 is",res)

THE RESULT OF 15/3 is 5.0

In [4]:
a=10
b=3
res=a//b
print("THE RESULT OF 10//3 is",res)

THE RESULT OF 10//3 is 3

In [5]:
a=12
b=5
res=a%b
print("THE REMAINDER OF 12%5 is",res)

THE REMAINDER OF 12%5 is 2

In [6]:
a=2
b=4
res=a**b
print("THE RESULT OF 2 RAISED TO THE POWER 4 is",res)

THE RESULT OF 2 RAISED TO THE POWER 4 is 16

In [7]:
x=5
y=3
res=x+y*2
print("THE VALUE OF THE GIVEN EXPRESSION x+y*2 is",res)

THE VALUE OF THE GIVEN EXPRESSION x+y*2 is 11

# COMPARISON OPERATORS

In [21]:
a=7
b=5
c=a>b
print("THE CONDITION is",c)

THE CONDITION is True

In [1]:
a=10
b=5
c=a<b
print("THE STATEMENT 10<5 is",c)

THE STATEMENT 10<5 is False

In [2]:
a=8
b=8
c=a>=b
print("THE RESULT CONDITION OF 8>=8 is",c)

THE RESULT CONDITION OF 8>=8 is True

In [3]:
a=6
b=6
c=a==b
if a==b:
    print("THE GIVEN STATEMENT is",c)

THE GIVEN STATEMENT is True

In [5]:
a=3
b=3
c=a!=b
if a==b:
    print("THE GIVEN STATEMENT is",c)

THE GIVEN STATEMENT is False

In [7]:
x=10
y=5
if x>y:
    print("x IS GREATER THAN y")
else:
    print("x IS LESS THAN y")

x IS GREATER THAN y

In [11]:
a="hello"
b="Hello"
c=a==b
if a==b:
    print("THE CONDITION is",c)
else:
    print("THE CONDITION IS",c)

THE CONDITION IS False

# LOGICAL OPERATORS

In [10]:
name= "Naveen"
schoolname= "Naveen Singh"
studentname= name==schoolname
if name==schoolname:
    print("THE INPUT IS",name,schoolname)
else:
    print("VALUE ASSIGNED is",studentname)

VALUE ASSIGNED is False

In [14]:
value1= "DELHI"
value2= "Bhopal"
capital= value1
if value2=="DELHI":
    print("YOUR ANSWER IS CORRECT")   #TRUE BLOCK
else:
    print("SORRY THE ANSWER is",capital)  #FALSE BLOCK

SORRY THE ANSWER is DELHI

In [15]:
value1= "DELHI"
value2= "Bhopal"
capital= value1
if value1=="DELHI":
    print("YOUR ANSWER IS CORRECT")  #TRUE BLOCK
else:
    print("SORRY THE ANSWER is",capital)  #FALSE BLOCK

YOUR ANSWER IS CORRECT

In [5]:
a= (1,2,3,4,5,6,7)
b= (11,22,33,44,55,66,77)
if "33" in "a" and "b":
    print(a,b)
else:
    print("NOT PRESENT")

NOT PRESENT

In [23]:
a=10
b=5
c=2
d= a>b
e= b<c
if a>b:
    print("10 is GREATER THAN 5 is",d)
    print("5 IS LESS THAN 2 is",e)

10 is GREATER THAN 5 is True
5 IS LESS THAN 2 is False

In [24]:
a=3
b=3
c=a==b
if a==3:
    print("3==3 is",c)

3==3 is True

In [26]:
a=4
b=4
c=a!=b
if a==4:
    print("4!=4 is",c)

4!=4 is False

# ASSIGNMENT OPERATORS

In [27]:
x=10
print(x)

10

In [28]:
x=10
print(x+3)

13

In [29]:
x=10
print(x-5)

5

In [30]:
x=50
print(x*2)

100

In [31]:
x=40
print(x/4)

10.0

In [32]:
x=14
print(x%3)

2

In [34]:
x=9
print(x**2)

81

# MEMBERSHIP OPERATORS

In [37]:
print(3 in [1,2,3,4,5])

True

In [38]:
print(a in["hello"])

False

In [42]:
print("age" in {'name': 'John', 'age': 30})

True

# PRECEDENCE AND ASSOCIATIVITY

In [44]:
a=5
b=3
c=2
d=a+b*c
print(d)

11

In [45]:
a=10
b=3
c=(a+b)*2
print(c)

26

In [46]:
a=10
b=3
c=a+b/2
print(c)

11.5

In [47]:
a=8
b=4
c=a-b+2
print(c)

6

# CHAINING OPERATORS

In [6]:
x=10
print(5<x<15)

True

In [1]:
x=10
print(5<x<9)

False

In [7]:
x=-2
if x>0:
    print(x,"=","THE NUMBER IS POSITIVE")
else:
    print(x,"=","NEGATIVE NUMBER")

-2 = NEGATIVE NUMBER

In [5]:
x=2
if x>0:
    print(x,"=","THE NUMBER IS POSITIVE")
else:
    print("NEGATIVE NUMBER")

2 = THE NUMBER IS POSITIVE

In [14]:
x=6
if (x%2)==0:
    print(x,"=","THE NUMBER IS EVEN")
else:
    print(x,"is","ODD NUMBER")

6 = THE NUMBER IS EVEN

In [15]:
x=7
if (x%2)==0:
    print(x,"=","THE NUMBER IS EVEN")
else:
    print(x,"=","ODD NUMBER")

7 = ODD NUMBER

In [30]:
def isLowerCharacter(ch):
    if len(ch) != 1 :
        return None
    else :
        return ch.islower()
 
ch = input('Enter a character: ')
print(isLowerCharacter(ch))

Enter a character: n
True

In [31]:
def isLowerCharacter(ch):
    if len(ch) != 1 :
        return None
    else :
        return ch.islower()
 
ch = input('Enter a character: ')
print(isLowerCharacter(ch))

Enter a character: N
False

In [33]:
def isVowel(ch):
    isVowel = False
    if(ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u'):
        isVowel = True
    elif(ch == 'A' or ch == 'E' or ch == 'I' or ch == 'O' or ch == 'U'):
        isVowel = True
    return isVowel
 
ch = input("Enter a character: ")
print(isVowel(ch))

Enter a character: a
True

In [34]:
ch = input("Enter a character: ")
vowels = "aeiouAEIOU"
isVowel = ch in vowels
print(isVowel)

Enter a character: n
False

# TERNARY OPERATOR

In [44]:
x = 10
y= x+5
if y == x+5:
    print(x)
else:
    print(y)

10

In [46]:
x = 10
y= x+5
if y == x+50:
    print(x)
else:
    print(5)

5

# OPERATOR PRECEDENCE

# Arithmetic operators have the highest precedence, followed by comparison operators, and then logical operators. This means that arithmetic operations are performed first, followed by comparison operations, and then logical operations. 
# For example, in the expression 5 + 3 * 4, the multiplication operation (3 * 4) will be performed first, followed by the addition operation (5 + 12). When multiple operators of the same type are used in an expression, the order of precedence determines which operation is performed first.

# OPERATOR OVERLOADING

# Operator overloading in Python is the ability to redefine the behavior of an operator depending on the type of the operands. For example, the + operator can be used to add two numbers, concatenate two strings, or combine two lists.

In [58]:
f1 = (1, 2)
f2 = (3, 4)
f3 = f1 + f2
print(f3)

(1, 2, 3, 4)

# COMBINING OPERATORS AND CONTROL FLOW

In [56]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
if num1 > 0 and num2 > 0:
    print("Sum of two numbers is:", num1 + num2)
else:
    print("Invalid input.")

Enter first number: 5
Enter second number: 6
Sum of two numbers is: 11

In [57]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
if num1 > 0 and num2 > 0:
    print("Sum of two numbers is:", num1 + num2)
else:
    print("Invalid input.")

Enter first number: 56
Enter second number: -43
Invalid input.